{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DoorStep Shipping</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/business-casual.min.css' %}" rel="stylesheet">
   <link href="{% static 'css/doorstep.css' %}" rel="stylesheet">

</head>

<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Customer's Satisfaction is Our Priority</span>
    <span class="site-heading-lower">DoorStep Shipping</span>
  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Home'%}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>

           <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Track'%}">Track</a>
          </li>
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'About'%}">About Us</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Services'%}">Services</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Contact'%}">Contact</a>
          </li>
           
        </ul>
      </div>
    </div>
  </nav>
  

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static '/img/deliveryman.jpg' %}" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Delivering at your DoorStep</span>
                <span class="section-heading-lower">About Our Services</span>
              </h2>
              <h3>International Parcel Delivery Services</h3>

                            <p class="mb-0">
              Our international parcel delivery service is second to none so, no matter where in the world your packages are going, we can take them there for you.

              Our courier partners are without doubt the biggest and the best in the industry - names you'll know and trust. So, whether you're sending a gift to family back home in India, documentation to your offices in the US, a thank you to friends you met on your travels around Australia, or a product purchased from your e-commerce site to your customer in Japan, you'll find no better courier comparison and booking service than DoorStep Shipping.

              Delivering to: Over 220 countries across the globe

              Parcel delivery times will vary depending on where in the world you are sending your parcel.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; DoorStep Shipping 2019</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
